:root{
    --primary: #F2C94C;
    --black: #333333;
}

body {

    font-family: 'Kalam',cursive;
    /* color: var(--black); */
}

textarea{
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    display: block;
    margin: 2rem;
    padding: 2rem;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 60%;
    margin: 2rem;
    padding: 1rem;
    display: block;
}

#navigation-bar{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--primary);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}